<h2> <%= @employee.full_name%>'s Page:</h2>

<img src="<%=@employee.img_url%>" alt="<%=@employee.full_name%>'s Picture">

<div>
<table>
  <tbody>
    <tr>
      <td><strong>Full Name: </strong></td>
      <td><%=@employee.full_name%></td>
    </tr>
    <tr>
      <td><strong>Alias: </strong></td>
      <td><%=@employee.alias%></td>
    </tr>
    <tr>
      <td><strong>Office: </strong></td>
      <td><%=@employee.office%></td>
    </tr>
    <tr>
      <td><strong>Title: </strong></td>
      <td><%=@employee.title%></td>
    </tr>
    <tr>
      <td><strong>Dog: </strong></td>
      <td><%=@employee.dog.name%></td>
    </tr>
  </tbody>
</table>
</div>

<%= button_to "Edit Profile", edit_employee_path(@employee), method:'get'%>

<%= button_to "Back", employees_path, method: 'get'%>